<% @tournois.each do |t| %>
	<%= link_to t.name, '/tournoi/show/' + t.id.to_s  %>
	<%= t.description %>
	<%= t.cash_prize %>
	<%= t.date %>

	<% if t.user_id == current_user.id %>


<p class="alert alert-info"> Ce Tournois a été créé par vous.</p>

	<% end %>
<% end %>