// Place all the styles related to the Application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "foundation_and_overrides";

@import "compass/css3";
@import "compass/typography/links/link-colors";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic);
@font-face {
    font-family: 'BebasNeue';
    src: url('font/BebasNeue.otf');
}

$default-text-shadow-color: rgba(white, 0.6);
$default-text-shadow-blur: 3px;

@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  color: $normal;
  text-decoration: none;	
  @if $visited {
    &:visited {
      color: $visited;
    }
  }
  @if $focus {
    &:focus {
      color: $focus;
      @include single-text-shadow;
    }
  }
  @if $hover {
    &:hover {
      color: $hover;
      @include single-text-shadow;
    }
  }
  @if $active {
    &:active {
      color: $active;
      @include single-text-shadow;
    }
  }
}

body {
	background-color: #eeede5;
	font-family: 'Source Sans Pro', sans-serif;
	header .collumns {
		background-color: #806d65;
		.title {
			font-family: 'BebasNeue';
			color: #ffffff;
			letter-spacing: 3px;
			text-align: center;
			font-size: 3.5em;
		}
		.login {
			@include link-colors(#fff, #fff, #fff, #fff, #fff);
			align: right;

		}
	}
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
	.form-signin .checkbox {
		
	}
.form-signin input[type="text"],
	.form-signin input[type="password"] {
		font-size: 16px;
		height: auto;
		margin-bottom: 15px;
		padding: 7px 9px;
	}
